@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
  --color-x-purple: #3E245B;
  --color-light-purple: #7041A4;
  --color-x-yellow: #FBD652;
  --color-pale-purple: #A47FCC;

  --animate-touch: touch .3s ease-out;
  @keyframes touch {
    0%,
    100% {
      transform: scale(100%);
    }
    50% {
      transform: scale(90%);
    }
  }

  --animate-slide: slide .3s ease-out;
  @keyframes slide {
    0% {
      transform: translateX(100%);
      opacity: 0.1;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  --animate-fadein: fadein .2s ease-in;
  @keyframes fadein {
    0% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
}

html, body {
    margin: 0;
    padding: 0;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-16 {
    font-size: 16px;
}